In [4]:
"""Create CSVs from all tables on a Wikipedia article."""

import csv
import os

from bs4 import BeautifulSoup
import requests


def scrape(url, output_name):
    """Create CSVs from all tables in a Wikipedia article.
    ARGS:
        url (str): The full URL of the Wikipedia article to scrape tables from.
        output_name (str): The base file name (without filepath) to write to.
    """

    # Read tables from Wikipedia article into list of HTML strings
    resp = requests.get(url)
    soup = BeautifulSoup(resp.content, "lxml")
    table_classes = {"class": ["sortable", "plainrowheaders"]}
    wikitables = soup.findAll("table", table_classes)

    # Create folder for output if it doesn't exist
    os.makedirs(output_name, exist_ok=True)

    for index, table in enumerate(wikitables):
        # Make a unique file name for each CSV
        if index == 0:
            filename = output_name
        else:
            filename = output_name + "_" + str(index)

        filepath = os.path.join(output_name, filename) + ".csv"

        with open(filepath, mode="w", newline="", encoding="utf-8") as output:
            csv_writer = csv.writer(output, quoting=csv.QUOTE_ALL, lineterminator="\n")
            write_html_table_to_csv(table, csv_writer)


def write_html_table_to_csv(table, writer):
    """Write HTML table from Wikipedia to a CSV file.
    ARGS:
        table (bs4.Tag): The bs4 Tag object being analyzed.
        writer (csv.writer): The csv Writer object creating the output.
    """

    # Hold elements that span multiple rows in a list of
    # dictionaries that track 'rows_left' and 'value'
    saved_rowspans = []
    for row in table.findAll("tr"):
        cells = row.findAll(["th", "td"])

        # If the first row, use it to define width of table
        if len(saved_rowspans) == 0:
            saved_rowspans = [None for _ in cells]
        # Insert values from cells that span into this row
        elif len(cells) != len(saved_rowspans):
            for index, rowspan_data in enumerate(saved_rowspans):
                if rowspan_data is not None:
                    # Insert the data from previous row; decrement rows left
                    value = rowspan_data["value"]
                    cells.insert(index, value)

                    if saved_rowspans[index]["rows_left"] == 1:
                        saved_rowspans[index] = None
                    else:
                        saved_rowspans[index]["rows_left"] -= 1

        # If an element with rowspan, save it for future cells
        for index, cell in enumerate(cells):
            if cell.has_attr("rowspan"):
                rowspan_data = {"rows_left": int(cell["rowspan"]), "value": cell}
                saved_rowspans[index] = rowspan_data

        if cells:
            # Clean the data of references and unusual whitespace
            cleaned = clean_data(cells)

            # Fill the row with empty columns if some are missing
            # (Some HTML tables leave final empty cells without a <td> tag)
            columns_missing = len(saved_rowspans) - len(cleaned)
            if columns_missing:
                cleaned += [None] * columns_missing

            writer.writerow(cleaned)


def clean_data(row):
    """Clean table row list from Wikipedia into a string for CSV.
    ARGS:
        row (bs4.ResultSet): The bs4 result set being cleaned for output.
    RETURNS:
        cleaned_cells (list[str]): List of cleaned text items in this row.
    """

    cleaned_cells = []

    for cell in row:
        # Strip references from the cell
        references = cell.findAll("sup", {"class": "reference"})
        if references:
            for ref in references:
                ref.extract()

        # Strip sortkeys from the cell
        sortkeys = cell.findAll("span", {"class": "sortkey"})
        if sortkeys:
            for ref in sortkeys:
                ref.extract()

        # Strip footnotes from text and join into a single string
        text_items = cell.findAll(text=True)
        no_footnotes = [text for text in text_items if text[0] != "["]

        cleaned = (
            "".join(no_footnotes)  # Combine elements into single string
            .replace("\xa0", " ")  # Replace non-breaking spaces
            .replace("\n", " ")  # Replace newlines
            .strip()
        )

        cleaned_cells += [cleaned]

    return cleaned_cells

###### Found on GITHUB: https://github.com/rocheio/wiki-table-scrape

In [5]:
scrape(url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', output_name = 'Toronto')

In [6]:
import pandas as pd
import numpy as np

In [74]:
data = pd.read_csv('Toronto.csv')

In [75]:
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [76]:
data = data[data.Borough != 'Not assigned']

In [77]:
data[data.Neighbourhood == 'Not assigned'].replace('Not assigned', "Queen's Park")

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Queen's Park

In [78]:
data.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [79]:
comb_data = data.groupby(['Postcode', 'Borough'], sort = False).agg(','.join)

In [80]:
comb_data.head()

                                             Neighbourhood
Postcode Borough
M3A      North York                              Parkwoods
M4A      North York                       Victoria Village
M5A      Downtown Toronto         Harbourfront,Regent Park
M6A      North York        Lawrence Heights,Lawrence Manor
M7A      Queen's Park                         Not assigned

In [113]:
neighbors = comb_data.sort_values(['Postcode'])

In [50]:
coords = pd.read_csv('Geospatial_Coordinates.csv', index_col = 0)

In [96]:
coords.sort_values(['Postal Code'])

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476
M1J          43.744734 -79.239476
M1K          43.727929 -79.262029
M1L          43.711112 -79.284577
M1M          43.716316 -79.239476
M1N          43.692657 -79.264848
M1P          43.757410 -79.273304
M1R          43.750072 -79.295849
M1S          43.794200 -79.262029
M1T          43.781638 -79.304302
M1V          43.815252 -79.284577
M1W          43.799525 -79.318389
M1X          43.836125 -79.205636
M2H          43.803762 -79.363452
M2J          43.778517 -79.346556
M2K          43.786947 -79.385975
M2L          43.757490 -79.374714
M2M          43.789053 -79.408493
M2N          43.770120 -79.408493
M2P          43.752758 -79.400049
M2R          43.782736 -79.442259
M3A          43.753259 -79.329656
M3B          43.745906 -79.352188
M3C          43.725900 -79.340923
M3H          43.754328 -79.442259
M3J          43.767980 -79.487262
...                ...        ...
M6C          43.693781 -79.428191
M6E          43.689026 -79.453512
M6G          43.669542 -79.422564
M6H          43.669005 -79.442259
M6J          43.647927 -79.419750
M6K          43.636847 -79.428191
M6L          43.713756 -79.490074
M6M          43.691116 -79.476013
M6N          43.673185 -79.487262
M6P          43.661608 -79.464763
M6R          43.648960 -79.456325
M6S          43.651571 -79.484450
M7A          43.662301 -79.389494
M7R          43.636966 -79.615819
M7Y          43.662744 -79.321558
M8V          43.605647 -79.501321
M8W          43.602414 -79.543484
M8X          43.653654 -79.506944
M8Y          43.636258 -79.498509
M8Z          43.628841 -79.520999
M9A          43.667856 -79.532242
M9B          43.650943 -79.554724
M9C          43.643515 -79.577201
M9L          43.756303 -79.565963
M9M          43.724766 -79.532242
M9N          43.706876 -79.518188
M9P          43.696319 -79.532242
M9R          43.688905 -79.554724
M9V          43.739416 -79.588437
M9W          43.706748 -79.594054

[103 rows x 2 columns]

In [114]:
neighbors.to_csv('Neighbors.csv')

In [109]:
coords.to_csv('Coords.csv')

In [115]:
result = pd.read_csv('LatLongNbr.csv')

In [117]:
result.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476